# Cleaning Maven Toys Dataset

# Joel Parker

# Import Packages

In [1]:
import pandas as pd 
import numpy as np

# Merging Dataframes

In [2]:
sales = pd.read_csv('sales.csv')
sales

        Sale_ID        Date  Store_ID  Product_ID  Units
0             1  2017-01-01        24           4      1
1             2  2017-01-01        28           1      1
2             3  2017-01-01         6           8      1
3             4  2017-01-01        48           7      1
4             5  2017-01-01        44          18      1
...         ...         ...       ...         ...    ...
829257   829258  2018-09-30        24          19      1
829258   829259  2018-09-30        16          35      1
829259   829260  2018-09-30        22          19      1
829260   829261  2018-09-30        13           2      2
829261   829262  2018-09-30        32           6      1

[829262 rows x 5 columns]

In [3]:
products = pd.read_csv('products.csv')
products

,Product_ID,Product_Name,Product_Category,Product_Cost,Product_Price
0,1,Action Figure,Toys,$9.99,$15.99
1,2,Animal Figures,Toys,$9.99,$12.99
2,3,Barrel O' Slime,Art & Crafts,$1.99,$3.99
3,4,Chutes & Ladders,Games,$9.99,$12.99
4,5,Classic Dominoes,Games,$7.99,$9.99
5,6,Colorbuds,Electronics,$6.99,$14.99
6,7,Dart Gun,Sports & Outdoors,$11.99,$15.99
7,8,Deck Of Cards,Games,$3.99,$6.99
8,9,Dino Egg,Toys,$9.99,$10.99
9,10,Dinosaur Figures,Toys,$10.99,$14.99
10,11,Etch A Sketch,Art & Crafts,$10.99,$20.99
11,12,Foam Disk Launcher,Sports & Outdoors,$8.99,$11.99
12,13,Gamer Headphones,Electronics,$14.99,$20.99
13,14,Glass Marbles,Games,$5.99,$10.99
14,15,Hot Wheels 5-Pack,Toys,$3.99,$5.99
15,16,Jenga,Games,$2.99,$9.99
16,17,Kids Makeup Kit,Art & Crafts,$13.99,$19.99
17,18,Lego Bricks,Toys,$34.99,$39.99
18,19,Magic Sand,Art & Crafts,$13.99,$15.99
19,20,Mini Basketball Hoop,Sports & Outdoors,$8.99,$24.99
20,21,Mini Ping Pong Set,Sports & Outdoors,$6.99,$9.99
21,22,Monopoly,Games,$13.99,$19.99
22,23,Mr. Potatohead,Toys,$4.99,$9.99
23,24,Nerf Gun,Sports & Outdoors,$14.99,$19.99
24,25,PlayDoh Can,Art & Crafts,$1.99,$2.99
25,26,PlayDoh Playset,Art & Crafts,$20.99,$24.99
26,27,PlayDoh Toolkit,Art & Crafts,$3.99,$4.99
27,28,Playfoam,Art & Crafts,$3.99,$10.99
28,29,Plush Pony,Toys,$8.99,$19.99
29,30,Rubik's Cube,Games,$17.99,$19.99
30,31,Splash Balls,Sports & Outdoors,$7.99,$8.99
31,32,Supersoaker Water Gun,Sports & Outdoors,$11.99,$14.99
32,33,Teddy Bear,Toys,$10.99,$12.99
33,34,Toy Robot,Electronics,$20.99,$25.99
34,35,Uno Card Game,Games,$3.99,$7.99

In [4]:
sales_products = pd.merge(sales, products, on='Product_ID')

In [5]:
sales_products

,Sale_ID,Date,Store_ID,Product_ID,Units,Product_Name,Product_Category,Product_Cost,Product_Price
0,1,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99
1,66,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99
2,80,2017-01-01,7,4,1,Chutes & Ladders,Games,$9.99,$12.99
3,98,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99
4,128,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99
...,...,...,...,...,...,...,...,...,...
829257,829095,2018-09-30,48,28,3,Playfoam,Art & Crafts,$3.99,$10.99
829258,829132,2018-09-30,4,28,1,Playfoam,Art & Crafts,$3.99,$10.99
829259,829135,2018-09-30,48,28,3,Playfoam,Art & Crafts,$3.99,$10.99
829260,829169,2018-09-30,4,28,1,Playfoam,Art & Crafts,$3.99,$10.99
829261,829220,2018-09-30,22,28,3,Playfoam,Art & Crafts,$3.99,$10.99

In [6]:
sales_products2 = sales_products.copy()

In [7]:
sales_products2

,Sale_ID,Date,Store_ID,Product_ID,Units,Product_Name,Product_Category,Product_Cost,Product_Price
0,1,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99
1,66,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99
2,80,2017-01-01,7,4,1,Chutes & Ladders,Games,$9.99,$12.99
3,98,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99
4,128,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99
...,...,...,...,...,...,...,...,...,...
829257,829095,2018-09-30,48,28,3,Playfoam,Art & Crafts,$3.99,$10.99
829258,829132,2018-09-30,4,28,1,Playfoam,Art & Crafts,$3.99,$10.99
829259,829135,2018-09-30,48,28,3,Playfoam,Art & Crafts,$3.99,$10.99
829260,829169,2018-09-30,4,28,1,Playfoam,Art & Crafts,$3.99,$10.99
829261,829220,2018-09-30,22,28,3,Playfoam,Art & Crafts,$3.99,$10.99

In [8]:
stores = pd.read_csv('stores.csv')
stores

,Store_ID,Store_Name,Store_City,Store_Location,Store_Open_Date
0,1,Maven Toys Guadalajara 1,Guadalajara,Residential,1992-09-18
1,2,Maven Toys Monterrey 1,Monterrey,Residential,1995-04-27
2,3,Maven Toys Guadalajara 2,Guadalajara,Commercial,1999-12-27
3,4,Maven Toys Saltillo 1,Saltillo,Downtown,2000-01-01
4,5,Maven Toys La Paz 1,La Paz,Downtown,2001-05-31
5,6,Maven Toys Mexicali 1,Mexicali,Commercial,2003-12-13
6,7,Maven Toys Monterrey 2,Monterrey,Downtown,2003-12-25
7,8,Maven Toys Pachuca 1,Pachuca,Downtown,2004-10-14
8,9,Maven Toys Ciudad de Mexico 1,Cuidad de Mexico,Downtown,2004-10-15
9,10,Maven Toys Campeche 1,Campeche,Downtown,2005-01-14
10,11,Maven Toys Cuernavaca 1,Cuernavaca,Downtown,2005-04-19
11,12,Maven Toys Chetumal 1,Chetumal,Downtown,2006-05-05
12,13,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
13,14,Maven Toys Guanajuato 1,Guanajuato,Downtown,2007-01-31
14,15,Maven Toys Tuxtla Gutierrez 1,Tuxtla Gutierrez,Downtown,2007-03-05
15,16,Maven Toys San Luis Potosi 1,San Luis Potosi,Downtown,2007-05-19
16,17,Maven Toys Toluca 1,Toluca,Downtown,2007-12-09
17,18,Maven Toys Merida 1,Merida,Downtown,2008-08-22
18,19,Maven Toys Puebla 1,Puebla,Commercial,2008-12-16
19,20,Maven Toys Zacatecas 1,Zacatecas,Downtown,2009-05-29
20,21,Maven Toys Santiago 1,Santiago,Downtown,2009-11-23
21,22,Maven Toys Guanajuato 2,Guanajuato,Commercial,2010-03-29
22,23,Maven Toys Chihuahua 1,Chihuahua,Commercial,2010-06-12
23,24,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
24,25,Maven Toys Ciudad Victoria 1,Ciudad Victoria,Downtown,2010-09-08
25,26,Maven Toys Campeche 2,Campeche,Commercial,2010-09-15
26,27,Maven Toys Oaxaca 1,Oaxaca,Downtown,2010-10-02
27,28,Maven Toys Puebla 2,Puebla,Downtown,2011-04-01
28,29,Maven Toys Xalapa 1,Xalapa,Commercial,2011-06-21
29,30,Maven Toys Guadalajara 3,Guadalajara,Airport,2011-10-20
30,31,Maven Toys Ciudad de Mexico 2,Cuidad de Mexico,Airport,2012-05-04
31,32,Maven Toys Hermosillo 1,Hermosillo,Residential,2012-08-31
32,33,Maven Toys Monterrey 3,Monterrey,Airport,2013-03-17
33,34,Maven Toys Villahermosa 1,Villahermosa,Downtown,2013-06-07
34,35,Maven Toys Chilpancingo 1,Chilpancingo,Downtown,2013-06-11
35,36,Maven Toys Morelia 1,Morelia,Downtown,2013-07-01
36,37,Maven Toys Ciudad de Mexico 3,Cuidad de Mexico,Residential,2013-11-28
37,38,Maven Toys Chihuahua 2,Chihuahua,Downtown,2014-03-18
38,39,Maven Toys Xalapa 2,Xalapa,Downtown,2014-04-21
39,40,Maven Toys Toluca 2,Toluca,Commercial,2014-05-27
40,41,Maven Toys Hermosillo 2,Hermosillo,Downtown,2014-06-01
41,42,Maven Toys Hermosillo 3,Hermosillo,Commercial,2014-06-27
42,43,Maven Toys Durango 1,Durango,Downtown,2014-06-30
43,44,Maven Toys Puebla 3,Puebla,Residential,2014-12-27
44,45,Maven Toys Ciudad de Mexico 4,Cuidad de Mexico,Commercial,2015-06-21
45,46,Maven Toys Guadalajara 4,Guadalajara,Downtown,2015-10-31
46,47,Maven Toys Monterrey 4,Monterrey,Commercial,2015-11-21
47,48,Maven Toys Saltillo 2,Saltillo,Commercial,2016-03-23
48,49,Maven Toys Culiacan 1,Culiacan,Downtown,2016-05-10
49,50,Maven Toys Guanajuato 3,Guanajuato,Residential,2016-05-18

In [9]:
toys = pd.merge(sales_products2, stores, on='Store_ID')

In [10]:
toys

,Sale_ID,Date,Store_ID,Product_ID,Units,Product_Name,Product_Category,Product_Cost,Product_Price,Store_Name,Store_City,Store_Location,Store_Open_Date
0,1,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
1,66,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
2,98,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
3,128,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
4,146,2017-01-01,24,4,1,Chutes & Ladders,Games,$9.99,$12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
829257,793189,2018-09-04,13,28,1,Playfoam,Art & Crafts,$3.99,$10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829258,820255,2018-09-25,13,28,1,Playfoam,Art & Crafts,$3.99,$10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829259,820290,2018-09-25,13,28,1,Playfoam,Art & Crafts,$3.99,$10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829260,820877,2018-09-25,13,28,1,Playfoam,Art & Crafts,$3.99,$10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829261,821027,2018-09-25,13,28,1,Playfoam,Art & Crafts,$3.99,$10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30

# Export

In [15]:
toys.to_csv('toys_data.csv')