# Import Packages

In [1]:
pip install plotly

Requirement already satisfied: plotly in /Users/justjp/opt/miniconda3/envs/ml/lib/python3.10/site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/justjp/opt/miniconda3/envs/ml/lib/python3.10/site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import re
import plotly.express as px

# Import Dataframe

In [3]:
toys_data = pd.read_csv('toys_data.csv')
toys_data

,Unnamed: 0,Sale_ID,Date,Store_ID,Product_ID,Units,Product_Name,Product_Category,Product_Cost,Product_Price,Store_Name,Store_City,Store_Location,Store_Open_Date
0,0,1,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
1,1,66,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
2,2,98,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
3,3,128,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
4,4,146,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829257,829257,793189,2018-09-04,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829258,829258,820255,2018-09-25,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829259,829259,820290,2018-09-25,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829260,829260,820877,2018-09-25,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829261,829261,821027,2018-09-25,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30

# Describe My Data

In [4]:
toys_data.describe()

,Unnamed: 0,Sale_ID,Store_ID,Product_ID,Units,Product_Cost,Product_Price
count,829262.000000,829262.000000,829262.000000,829262.000000,829262.000000,829262.000000,829262.000000
mean,414630.500000,414631.500000,25.277034,15.014149,1.315103,9.976460,13.772327
std,239387.463802,239387.463802,14.352573,9.869417,0.830701,7.817749,8.664794
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.990000,2.990000
25%,207315.250000,207316.250000,13.000000,6.000000,1.000000,3.990000,6.990000
50%,414630.500000,414631.500000,26.000000,14.000000,1.000000,7.990000,12.990000
75%,621945.750000,621946.750000,38.000000,24.000000,1.000000,11.990000,15.990000
max,829261.000000,829262.000000,50.000000,35.000000,30.000000,34.990000,39.990000

In [5]:
toys_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829262 entries, 0 to 829261
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        829262 non-null  int64
 1   Sale_ID           829262 non-null  int64
 2   Date              829262 non-null  object
 3   Store_ID          829262 non-null  int64
 4   Product_ID        829262 non-null  int64
 5   Units             829262 non-null  int64
 6   Product_Name      829262 non-null  object
 7   Product_Category  829262 non-null  object
 8   Product_Cost      829262 non-null  float64
 9   Product_Price     829262 non-null  float64
 10  Store_Name        829262 non-null  object
 11  Store_City        829262 non-null  object
 12  Store_Location    829262 non-null  object
 13  Store_Open_Date   829262 non-null  object
dtypes: float64(2), int64(5), object(7)
memory usage: 88.6+ MB

In [6]:
toys_data.isnull().sum()

Unnamed: 0          0
Sale_ID             0
Date                0
Store_ID            0
Product_ID          0
Units               0
Product_Name        0
Product_Category    0
Product_Cost        0
Product_Price       0
Store_Name          0
Store_City          0
Store_Location      0
Store_Open_Date     0
dtype: int64

In [7]:
toys_data['Store_Name'].unique()

array(['Maven Toys Aguascalientes 1', 'Maven Toys Monterrey 2',
       'Maven Toys Chihuahua 2', 'Maven Toys Chihuahua 1',
       'Maven Toys Ciudad de Mexico 3', 'Maven Toys Culiacan 1',
       'Maven Toys Villahermosa 1', 'Maven Toys Pachuca 1',
       'Maven Toys Chetumal 1', 'Maven Toys Saltillo 1',
       'Maven Toys Guadalajara 1', 'Maven Toys Morelia 1',
       'Maven Toys Mexicali 1', 'Maven Toys Monterrey 3',
       'Maven Toys Campeche 1', 'Maven Toys Merida 1',
       'Maven Toys Guanajuato 2', 'Maven Toys Saltillo 2',
       'Maven Toys Guanajuato 3', 'Maven Toys San Luis Potosi 1',
       'Maven Toys Ciudad de Mexico 1', 'Maven Toys Puebla 1',
       'Maven Toys Monterrey 4', 'Maven Toys Hermosillo 2',
       'Maven Toys Toluca 2', 'Maven Toys Hermosillo 3',
       'Maven Toys Campeche 2', 'Maven Toys Puebla 2',
       'Maven Toys Guadalajara 3', 'Maven Toys Santiago 1',
       'Maven Toys Durango 1', 'Maven Toys Ciudad de Mexico 2',
       'Maven Toys Xalapa 2', 'Maven Toys Toluca 1',
       'Maven Toys Puebla 3', 'Maven Toys Guadalajara 4',
       'Maven Toys Chilpancingo 1', 'Maven Toys Guadalajara 2',
       'Maven Toys Oaxaca 1', 'Maven Toys Hermosillo 1',
       'Maven Toys Monterrey 1', 'Maven Toys Cuernavaca 1',
       'Maven Toys Tuxtla Gutierrez 1', 'Maven Toys Guanajuato 1',
       'Maven Toys Ciudad de Mexico 4', 'Maven Toys Zacatecas 1',
       'Maven Toys Ciudad Victoria 1', 'Maven Toys La Paz 1',
       'Maven Toys Xalapa 1', 'Maven Toys Mexicali 2'], dtype=object)

In [8]:
toys_data['Store_City'].unique()

array(['Aguascalientes', 'Monterrey', 'Chihuahua', 'Cuidad de Mexico',
       'Culiacan', 'Villahermosa', 'Pachuca', 'Chetumal', 'Saltillo',
       'Guadalajara', 'Morelia', 'Mexicali', 'Campeche', 'Merida',
       'Guanajuato', 'San Luis Potosi', 'Puebla', 'Hermosillo', 'Toluca',
       'Santiago', 'Durango', 'Xalapa', 'Chilpancingo', 'Oaxaca',
       'Cuernavaca', 'Tuxtla Gutierrez', 'Zacatecas', 'Ciudad Victoria',
       'La Paz'], dtype=object)

In [9]:
toys_data['Store_Location'].unique()

array(['Downtown', 'Commercial', 'Residential', 'Airport'], dtype=object)

In [10]:
toys_data['Product_Name'].unique()

array(['Chutes & Ladders', 'Action Figure', 'Deck Of Cards', 'Dart Gun',
       'Lego Bricks', 'Splash Balls', 'Animal Figures',
       'Mini Ping Pong Set', 'Dino Egg', 'Nerf Gun', 'PlayDoh Toolkit',
       'Mini Basketball Hoop', 'Uno Card Game', 'Toy Robot', 'Colorbuds',
       'Glass Marbles', 'Classic Dominoes', "Rubik's Cube", 'Teddy Bear',
       'Monopoly', 'Dinosaur Figures', 'Kids Makeup Kit', 'PlayDoh Can',
       "Barrel O' Slime", 'Hot Wheels 5-Pack', 'Supersoaker Water Gun',
       'Jenga', 'PlayDoh Playset', 'Plush Pony', 'Gamer Headphones',
       'Magic Sand', 'Mr. Potatohead', 'Etch A Sketch',
       'Foam Disk Launcher', 'Playfoam'], dtype=object)

In [11]:
toys_data['Product_Category'].unique()

array(['Games', 'Toys', 'Sports & Outdoors', 'Art & Crafts',
       'Electronics'], dtype=object)

# Remove Unwanted Columns, First Make Copy

In [12]:
toys_data2 = toys_data.copy()

In [13]:
toys_data2

,Unnamed: 0,Sale_ID,Date,Store_ID,Product_ID,Units,Product_Name,Product_Category,Product_Cost,Product_Price,Store_Name,Store_City,Store_Location,Store_Open_Date
0,0,1,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
1,1,66,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
2,2,98,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
3,3,128,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
4,4,146,2017-01-01,24,4,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,2010-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829257,829257,793189,2018-09-04,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829258,829258,820255,2018-09-25,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829259,829259,820290,2018-09-25,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829260,829260,820877,2018-09-25,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30
829261,829261,821027,2018-09-25,13,28,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown,2006-08-30

In [14]:
toys_data2.columns

Index(['Unnamed: 0', 'Sale_ID', 'Date', 'Store_ID', 'Product_ID', 'Units',
       'Product_Name', 'Product_Category', 'Product_Cost', 'Product_Price',
       'Store_Name', 'Store_City', 'Store_Location', 'Store_Open_Date'],
      dtype='object')

In [15]:
toys_data2.drop(['Unnamed: 0', 'Sale_ID', 'Store_ID', 'Product_ID','Store_Open_Date'], axis=1, inplace=True)

In [16]:
toys_data2

,Date,Units,Product_Name,Product_Category,Product_Cost,Product_Price,Store_Name,Store_City,Store_Location
0,2017-01-01,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown
1,2017-01-01,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown
2,2017-01-01,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown
3,2017-01-01,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown
4,2017-01-01,1,Chutes & Ladders,Games,9.99,12.99,Maven Toys Aguascalientes 1,Aguascalientes,Downtown
...,...,...,...,...,...,...,...,...,...
829257,2018-09-04,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown
829258,2018-09-25,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown
829259,2018-09-25,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown
829260,2018-09-25,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown
829261,2018-09-25,1,Playfoam,Art & Crafts,3.99,10.99,Maven Toys Mexicali 2,Mexicali,Downtown

# Reorder Dataframe

In [17]:
toys_data2 = toys_data2[['Date','Store_Name', 'Store_City', 'Store_Location', 'Product_Name', 'Product_Category', 'Product_Price', 'Product_Cost', 'Units']]

In [18]:
toys_data2

,Date,Store_Name,Store_City,Store_Location,Product_Name,Product_Category,Product_Price,Product_Cost,Units
0,2017-01-01,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,Chutes & Ladders,Games,12.99,9.99,1
1,2017-01-01,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,Chutes & Ladders,Games,12.99,9.99,1
2,2017-01-01,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,Chutes & Ladders,Games,12.99,9.99,1
3,2017-01-01,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,Chutes & Ladders,Games,12.99,9.99,1
4,2017-01-01,Maven Toys Aguascalientes 1,Aguascalientes,Downtown,Chutes & Ladders,Games,12.99,9.99,1
...,...,...,...,...,...,...,...,...,...
829257,2018-09-04,Maven Toys Mexicali 2,Mexicali,Downtown,Playfoam,Art & Crafts,10.99,3.99,1
829258,2018-09-25,Maven Toys Mexicali 2,Mexicali,Downtown,Playfoam,Art & Crafts,10.99,3.99,1
829259,2018-09-25,Maven Toys Mexicali 2,Mexicali,Downtown,Playfoam,Art & Crafts,10.99,3.99,1
829260,2018-09-25,Maven Toys Mexicali 2,Mexicali,Downtown,Playfoam,Art & Crafts,10.99,3.99,1
829261,2018-09-25,Maven Toys Mexicali 2,Mexicali,Downtown,Playfoam,Art & Crafts,10.99,3.99,1

# Plotting

In [ ]:
# What City Got The Most Transaction?

px.histogram(toys_data2, x="Store_City").update_xaxes(categoryorder="total descending")

![Graph1](plotly/1.png)

In [ ]:
# What Day Had The Most Transcations?

px.histogram(toys_data2, x="Date")

![Graph2](plotly/2.png)

In [ ]:
# What Category Did People Like The Most?

px.histogram(toys_data2, x="Product_Category").update_xaxes(categoryorder="total descending")

![Graph3](plotly/3.png)

In [ ]:
# What City Spent The Most Money?

px.pie(toys_data2, values='Product_Price', names='Store_City')

![Graph4](plotly/4.png)

In [ ]:
# Which Store Location Sold The Most Units? What Category Is Most Popular?

px.sunburst(toys_data2, path=['Store_Location', 'Product_Category', 'Product_Price'], values='Units')

![Graph5](plotly/5.png)